.stationery-add .row{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: 50px auto;
    background-color: white;
    width: fit-content;
}

.stationery-add-content-inputbox{
    border: none!important;
    border-bottom: 2px solid #112222!important;
    display: block;
    outline: none;
    width: 350px;
}

.stationery-add-content-inputbox::placeholder{
   font-size: smaller;
   color: rgba(128, 128, 128, 0.763);
}

.stationery-add-content-inputbox:focus{
    border: none!important;
    border-bottom: 2px solid rgb(8, 115, 202)!important;
    display: block;
    outline: none;
    width: 350px;

}

.stationery-add-content-title{
    font-size: 1rem;
    padding-bottom: 2px;
    color: black;
}

.stationery-add-title{
    padding-bottom: 15px;
    margin-top: 25px;
    position: relative;
    left: 120px;
}

.stationery-add-form-row{
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
   
}

.stationery-add-form-row-textarea{
    padding-bottom: 10px;
    padding-left: 30px;
}

.stationery-add-form-row-textarea textarea{
    width: 350px;
}

.stationery-add-form-row select{
    
    margin-left: 5px;
}

.stationery-add-button{
    display: flex;
    justify-content: center;
    padding-top: 8px;
    
}

.stationery-add-button button{
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    left: 110px;
}

.stationery-add-button button:hover{
    background-color: rgb(128, 128, 128);
}

.stationery-image{
    border: none!important;
}

.selectbox{
    display: flex;
    flex-direction: row;
}

.selectbox label{
    white-space: nowrap;
}

.stationery-format{
    margin-left: 80px!important;
}

.ISBN::after{
    content: " *uneditable";
    color: red;
    font-size: x-small;
}

