.navbar {
    border-bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 
  }

.navbar .avatar {
    margin-top: -20px;
    margin-bottom: -15px;
}
  
  .navbar-align {
    margin-left: auto;
  }
  
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .navbar .avatar {
      max-height: 47px;
    }
  }
  
  .nav-item a{
    padding-bottom: 8px;
    color: rgb(82, 78, 183);
  }

  .nav-item a:hover{
    padding-bottom: 8px;
    color: rgba(93, 87, 254, 0.84);
  }

  .main {
    display: flex;
    width: 100%;
    min-width: 0;
    min-height: 100vh;
    background: whitesmoke;
    flex-direction: column;
    overflow: hidden;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .dropdown-menu {
    top: auto;
    font-size: 0.9rem!important;
    
  }

  .dropdown{
    border-width: 0;
    border-bottom-width: 1px;
    margin-bottom: 0;
  }  

  .navbar .user{
    margin-right: 5px;
  }
   .user .avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    position: relative;
    right: 8px;
 
  }

  .about-user i{
    margin-right: 5px;
  }

  /*hamburger*/
  .hamburger {
    position: relative;
    font-size: x-large;
    color: rgb(82, 78, 183);
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
  }
  
  .nav-item .home{
    margin-right:  20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.795)!important;
  }

  .nav-item .home:hover{
    color: rgb(169, 164, 164)!important;
  }
  
  .navbar-collapse {
    justify-content: flex-end;
}
 
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(82, 78, 183, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
}

.navbar-dark .navbar-toggler:focus {
  border-color: rgb(82, 78, 183)!important;
} 

@media screen and (max-width: 991px) {
  .hamburger{
    display: none;
  }
  
}