.category-list-title{
    position: relative;
    top: 5px;
  }

.category-list table{
    
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: white;
    font-size: 0.8rem;
}

.category-list button{
    border: none;
    background-color: transparent;
}


.top{
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: white;
   
}


.description{
    width: max-content!important;
}

.ISBN{
    word-wrap: break-word;
}

.pagination{
    position: relative;
    left: 180px;
}