.sales-information{

    margin-left: auto;
    margin-right: auto;
}

.sales-information .row .sales-information-content{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 50px 40px;
    background-color: white;
    border-radius: 0.4rem;
    transition: 0.3s all ease-in-out;
}

.sales-information .row .sales-information-content:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.sales-information-content-title{
    font-size: 1rem;
}

.sales-information-content-subtitle{
    font-size: 0.7rem;
    text-align: right;
    color: grey;
}

.sales-information-content-number{
    font-size: 1.85rem;
    text-align: center;
}