.category-list-title{
  position: relative;
  top: 5px;
}
.category-list table{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: white;
    text-align: center;
}

.category-list button{
    border: none;
    background-color: transparent;
}

.top{
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: white;
   
}

