.navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav .nav-link{
    margin: auto 5px!important;
    color: rgba(255, 255, 255, 0.938)!important;
}

.navbar-nav .nav-link:hover{
    color: rgba(255, 255, 255, 0.781)!important;
}

.navbar-nav .dropdown-menu .dropdown-item:hover{
    background-color: rgb(225, 225, 225)!important;
}

.cart{
    position: relative;
    top: 1px;
}

.cart-item{
    position: relative;
    top: 1px;
}

.cart-count{
    position: relative;
    right: 15px;
    bottom: 10px;
    color: rgb(119, 200, 250);
    padding: 0 5px;
}

.cart-num{
    color: black;
    padding: 0 5px;
    vertical-align: top;
    position: relative;
    right: 15px;
    top: 9px;
    margin-right: -10px;
    
}

.cart .nav-link{
    position: relative;
    bottom: 3px;
}


.searchbar{
    margin-bottom: -5px;
    position: relative;
    top: 3px;
}

@media screen and (min-width: 992px) {
    .logout{
        margin-left: -30px;

    }

}
  

