.topnav {
    overflow: hidden;
    background-color: #FAF5EF;
  }
  
  .topnav a {
    float: right;
    display: block;
    color: #0C090A;
    text-align: center;
    padding: 1px 14px;
    text-decoration: none;
    font-size: 1em;
  }
  
  .searchbar {
    padding-left: 550px;
  
  }
  
  .priceCart {
    float:right;
    padding: 0.5em;
  }
  
  .vl {
    border-right: 2px solid black;
    position: absolute;
    height: 100px;
    left: 50%;
    margin-left: -3px;
    bottom: 0;
  }
  
  
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
  a {
  text-decoration: none;
  }
  li {
  list-style: none;
  }
  
  .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #0D1B2A;
  color: #FAF5EF;
  
  }
  .nav-links a {
  color: #FAF5EF;
  }

  .nav-links a:hover {
    filter: brightness(90%);
    color: #FAF5EF;
    text-decoration: none;
    }
  
  /* LOGO */
  .logo {
  font-size: 1.5em;
  }
  /* NAVBAR MENU */
  .menu {
  display: flex;
  gap: 1em;
  font-size: 1em;
  }
  
  .menu li {
  padding: 5px 14px;
  }
  
  /* DROPDOWN MENU */
  .services {
  position: relative;
  }

  .dropdown {
  background-color: white!important;
  color: #646D7E!important;
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
  z-index: 10;
  
  }
  
  
  .dropdown li + li {
  margin-top: 10px;
  }
  .dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
  
  }

  .services .dropdown a{
    color:#646D7E!important;
  }
  .dropdown li:hover {
 
  }
  .services:hover .dropdown {
  display: block;
  z-index: 10;
  }
  
  input[type=checkbox]{
  display: none;
  }
  
  /*HAMBURGER MENU*/
  .hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
  }
  
  
  
  @media (max-width: 780px) and (min-width: 150px) {
  .menu {
  display:none;
  position: absolute;
  background-color:#728FCE;
  right: 0;
  left: 0;
  text-align: center;
  padding: 16px 0;
  }
  .menu li:hover {
  display: inline-block;
  background-color:#566D7E;
  transition: 0.3s ease;
  }
  .menu li + li {
  margin-top: 12px;
  }
  input[type=checkbox]:checked ~ .menu{
  display: block;
  }
  .hamburger {
  display: block;
  }
  .dropdown {
  left: 50%;
  top: 30px;
  transform: translateX(35%);
  }
  .dropdown li:hover {
  background-color: #646D7E;
  }
  
  
  }
  
  
  .search-bar input,
  .search-btn,
  .search-btn:before,
  .search-btn:after {
  transition: all 0.3s ease-out;
  }
  .search-bar input,
  .search-btn {
  width: 3em;
  height: 3em;
  }
  .search-bar input:invalid:not(:focus),
  .search-btn {
  cursor: pointer;
  }
  .search-bar,
  .search-bar input:focus,
  .search-bar input:valid  {
  width: 60%;
  }
  .search-bar input:focus,
  .search-bar input:not(:focus) + .search-btn:focus {
  outline: transparent;
  }
  .search-bar {
  float: left;
  padding: 0.5em;
  max-width: 100em;
  }
  .search-bar input {
  background: transparent;
  border-radius: 1.5em;
  box-shadow: 0 0 0 0.4em #171717 inset;
  padding: 0.75em;
  transform: translate(0.5em,0.5em) scale(0.5);
  transform-origin: 100% 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  }
  .search-bar input::-webkit-search-decoration {
  -webkit-appearance: none;
  }
  .search-bar input:focus,
  .search-bar input:valid {
  background: #fff;
  border-radius: 0.375em 0 0 0.375em;
  box-shadow: 0 0 0 0.1em #d9d9d9 inset;
  transform: scale(1);
  }
  .search-btn {
  background: #171717;
  border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
  padding: 0.75em;
  position: relative;
  transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
  transform-origin: 0 50%;
  }
  .search-btn:before,
  .search-btn:after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
  }
  .search-btn:before {
  border-radius: 50%;
  box-shadow: 0 0 0 0.2em #f1f1f1 inset;
  top: 0.75em;
  left: 0.75em;
  width: 1.2em;
  height: 1.2em;
  }
  .search-btn:after {
  background: #f1f1f1;
  border-radius: 0 0.25em 0.25em 0;
  top: 51%;
  left: 51%;
  width: 0.75em;
  height: 0.25em;
  transform: translate(0.2em,0) rotate(45deg);
  transform-origin: 0 50%;
  }
  .search-btn span {
  display: inline-block;
  overflow: hidden;
  width: 1px;
  height: 1px;
  }
  
  /* Active state */
  .search-bar input:focus + .search-btn,
  .search-bar input:valid + .search-btn {
  background: #2762f3;
  border-radius: 0 0.375em 0.375em 0;
  transform: scale(1);
  }
  .search-bar input:focus + .search-btn:before,
  .search-bar input:focus + .search-btn:after,
  .search-bar input:valid + .search-btn:before,
  .search-bar input:valid + .search-btn:after {
  opacity: 1;
  }
  .search-bar input:focus + .search-btn:hover,
  .search-bar input:valid + .search-btn:hover,
  .search-bar input:valid:not(:focus) + .search-btn:focus {
  background: #0c48db;
  }
  .search-bar input:focus + .search-btn:active,
  .search-bar input:valid + .search-btn:active {
  transform: translateY(1px);
  }
  
  @media screen and (prefers-color-scheme: dark) {
  
  .search-bar input {
      box-shadow: 0 0 0 0.4em #f1f1f1 inset;
  }
  .search-bar input:focus,
  .search-bar input:valid {
      background: #3d3d3d;
      box-shadow: 0 0 0 0.1em #3d3d3d inset;
  }
  .search-btn {
      background: #f1f1f1;
  }
  }
  
  
  
  